<div class="container">
  <div id="fmn-navbar"> 
    <%= render 'navbar' %>
  </div>
  
  <div class="content">
    <div id="fmn-alerts">
    </div>

    <div id="main">
    </div>

    <div id="signin-modal">
    </div>
  </div>
</div>

