<% action = (params[:controller] == 'users' ? users_url : sessions_url) %>

<form for='auth' action='<%= action %>' method='POST'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for='user-email'>Email</label>
  <input id='user-email'
         name='user[email]'
         type='text'>

  <label for='user-password'>Password</label>
  <input id='user-password'
         name='user[password]'
         type='password'>

  <button>Submit</button>
</form>
