<label for="credit-card">Credit Card</label>
<input id="credit-card"
       class="form-control"
       name="billing[credit-card]"
       type="text"
       value="MasterCard">

<label for="cc-number">Card Number</label>
<input id="cc-number"
       class="form-control"
       name="billing[cc-number]"
       type="text"
       value="5555 5555 5555 5555">

<label for="expiration-date">Expiration Date</label>
<input id="expiration-date"
       class="form-control"
       name="billing[expiration-date]"
       type="date"
       value="2016-01-15">

<label for="billing-zip">Billing Zip Code</label>
<input id="billing-zip"
       class="form-control"
       name="billing[billing-zip]"
       type="text"
       value="12345">
       
