<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="sr-only" for="credit_card_number">Credit Card</label>
      <input id="credit_card_number"
             autocomplete="cc-number"
             class="form-control field-input input-lg"
             name="billing[credit_card]"
             type="text"
             maxlength="20"
             pattern="\d*"
             placeholder="Card Number"
             value=<%= payment_method.escape('card_number') %>>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">
      <label class="sr-only" for="expiration-date">Expiration Date</label>
      <input id="expiration-date"
             autocomplete="cc-exp"
             class="form-control field-input input-lg"
             name="billing[expiration-date]"
             type="text"
             maxlength="7"
             pattern="\d*"
             placeholder="MM/YY"
             value=<%= payment_method.escape('exp_date') %>>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">
      <label class="sr-only" for="cc-cvc">Expiration Date</label>
      <input id="cc-cvc"
             autocomplete="cc-cvc"
             class="form-control field-input input-lg"
             name="billing[cvc]"
             type="text"
             maxlength="4"
             pattern="\d*"
             placeholder="CVV"
             value=<%= payment_method.escape('cvv') %>>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">
      <label class="sr-only" for="billing-zip">Billing Zip Code</label>
      <input id="billing-zip"
             class="form-control field-input input-lg"
             name="billing[billing-zip]"
             type="text"
             maxlength="5"
             pattern="\d*"
             placeholder="ZIP" 
             value=<%= payment_method.escape('zip') %>>
    </div>
  </div>
</div>
