<h1>Checkout!</h1>

<div class="row">
  <div class="col-md-8">
    <div class="delivery-details">
    </div>
    <div class="billing-information">
    </div>
 </div>
</div>

<div class="checkout-actions">
  <button class="place-order btn btn-success">Place Order</button>
</div>
