<label for="first-name">First Name</label>
<input id="first-name"
       class="form-control"
       name="user[first-name]"
       type="text"
       value="Honorable">

<label for="last-name">Last Name</label>
<input id="last-name"
       class="form-control"
       name="user[last-name]"
       type="text"
       value="Guest">

<label for="street-address">Street Address</label>
<input id="street-address"
       class="form-control"
       name="user[street-address]"
       type="text"
       value="123 Paradiso St.">

<label for="city">City</label>
<input id="city"
       class="form-control"
       name="user[city]"
       type="text"
       value="San Francisco">

<label for="state">State</label>
<input id="state"
       class="form-control"
       name="user[state]"
       type="text"
       value="California">

<label for="zip">Zip</label>
<input id="zip"
       class="form-control"
       name="user[zip]"
       type="text"
       value="94117">

