<div class="modal fade" id="checkout" tabIndex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
         <h3>Sign In</h3>
         <div class="alert alert-danger fade in hidden">
         </div>
       </div>
       <form>
         <div class="modal-body">
           <div class="form-group">
             <label for="email">Email</label>
             <input id="email"
                    class="form-control"
                    type="text"
                    name="user[email]">
             </input>
           </div>

           <div class="form-group">
             <label for="email">Password</label>
             <input id="password"
                    class="form-control"
                    type="password"
                    name="user[password]">
             </input>
           </div>
         </div>
         <div class="modal-footer">
           <button class="btn btn-success guest-signin">Guest Login</button>
           <button class="btn btn-primary signin">Sign In</button>
         </div>
       </form> 
    </div>
  </div>
</div>

