<div class="filter">
  <h3 class="filter-header">
    <span class="glyphicon glyphicon-minus"></span> Cuisines
  </h3>
  <ul class="cuisine-index filter-index">
  </ul>
</div>

<div class="filter">
  <h3 class="filter-header">
    <span class="glyphicon glyphicon-minus"></span> Ratings
  </h3>
  <ul class="rating-index filter-index">
    <li class="filter-item">
      <label class="rating-filter">
        <input type="checkbox" name="5-star">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      </label>
    </li>
    <li class="filter-item">
      <label class="rating-filter">
        <input type="checkbox" name="4-star">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      </label>
    </li>
    <li class="filter-item">
      <label class="rating-filter">
        <input type="checkbox" name="3-star">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      </label>
    </li>
    <li class="filter-item">
      <label class="rating-filter">
        <input type="checkbox" name="2-star">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      </label>
    </li>
    <li class="filter-item rating-filter">
      <label class="rating-filter">
        <input type="checkbox" name="1-star">
        <span class="glyphicon glyphicon-star"></span>
      </label>
    </li>
  </ul>
</div>

<div class="filter">
  <h3 class="filter-header">
    <span class="glyphicon glyphicon-minus"></span> Price
  </h3>
  <ul class="prices-index filter-index">
    <li class="filter-item price-filter">
      <label class="price-filter">
        <input type="checkbox" name="5-usd">
        <span class="glyphicon glyphicon-usd"></span>
        <span class="glyphicon glyphicon-usd"></span>
        <span class="glyphicon glyphicon-usd"></span>
        <span class="glyphicon glyphicon-usd"></span>
        <span class="glyphicon glyphicon-usd"></span>
     </label>
    </li>
    <li class="filter-item price-filter">
      <label class="price-filter">
        <input type="checkbox" name="4-usd">
        <span class="glyphicon glyphicon-usd"></span>
        <span class="glyphicon glyphicon-usd"></span>
        <span class="glyphicon glyphicon-usd"></span>
        <span class="glyphicon glyphicon-usd"></span>
     </label>
    </li>
    <li class="filter-item price-filter">
      <label class="price-filter">
        <input type="checkbox" name="3-usd">
        <span class="glyphicon glyphicon-usd"></span>
        <span class="glyphicon glyphicon-usd"></span>
        <span class="glyphicon glyphicon-usd"></span>
      </label>
    </li>
    <li class="filter-item price-filter">
      <label class="price-filter">
        <input type="checkbox" name="2-usd">
        <span class="glyphicon glyphicon-usd"></span>
        <span class="glyphicon glyphicon-usd"></span>
      </label>
    </li>
    <li class="filter-item price-filter">
      <label class="price-filter">
        <input type="checkbox" name="1-usd">
        <span class="glyphicon glyphicon-usd"></span>
      </label>
    </li>
  </ul>
</div>
