<h3 class="cuisine-filter-header">Cuisines</h3>
<ul class="cuisine-index">
</ul>

<h3 class="rating-filter-header">Ratings</h3>
<ul class="ratings-index">
  <li class="filter-item">
    <label class="rating-filter">
      <input type="checkbox" name="5-star">
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
    </label>
  </li>
  <li class="filter-item">
    <label class="rating-filter">
      <input type="checkbox" name="4-star">
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
    </label>
  </li>
  <li class="filter-item">
    <label class="rating-filter">
      <input type="checkbox" name="3-star">
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
    </label>
  </li>
  <li class="filter-item">
    <label class="rating-filter">
      <input type="checkbox" name="2-star">
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
    </label>
  </li>
  <li class="filter-item rating-filter">
    <label class="rating-filter">
      <input type="checkbox" name="1-star">
      <span class="glyphicon glyphicon-star"></span>
    </label>
  </li>
</ul>

<h3 class="price-filter-header">Price</h3>
<ul class="price-index">
  <li class="filter-item price-filter">
    <label class="price-filter">
      <input type="checkbox" name="5-usd">
      <span class="glyphicon glyphicon-usd"></span>
      <span class="glyphicon glyphicon-usd"></span>
      <span class="glyphicon glyphicon-usd"></span>
      <span class="glyphicon glyphicon-usd"></span>
      <span class="glyphicon glyphicon-usd"></span>
   </label>
  </li>
  <li class="filter-item price-filter">
    <label class="price-filter">
      <input type="checkbox" name="4-usd">
      <span class="glyphicon glyphicon-usd"></span>
      <span class="glyphicon glyphicon-usd"></span>
      <span class="glyphicon glyphicon-usd"></span>
      <span class="glyphicon glyphicon-usd"></span>
   </label>
  </li>
  <li class="filter-item price-filter">
    <label class="price-filter">
      <input type="checkbox" name="3-usd">
      <span class="glyphicon glyphicon-usd"></span>
      <span class="glyphicon glyphicon-usd"></span>
      <span class="glyphicon glyphicon-usd"></span>
    </label>
  </li>
  <li class="filter-item price-filter">
    <label class="price-filter">
      <input type="checkbox" name="2-usd">
      <span class="glyphicon glyphicon-usd"></span>
      <span class="glyphicon glyphicon-usd"></span>
    </label>
  </li>
  <li class="filter-item price-filter">
    <label class="price-filter">
      <input type="checkbox" name="1-usd">
      <span class="glyphicon glyphicon-usd"></span>
    </label>
  </li>
</ul>
