<div class="restaurant-index-header">
</div>

<div class="row">
  <div class="col-md-3">
    <div class="filter">
    </div>
  </div>

  <div class="col-md-6">
    <div class="restaurants">
    </div>
  </div>
</div>
