<div class="container">
  <div class="restaurant-index-header jumbotron">
    <h1 class="text-center"><strong>Food. Me. Now.</strong></h1>
    <h2 class="text-center"><strong>San Francisco</strong></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="filter">
    </div>
  </div>

  <div class="col-md-7">
    <div class="restaurants">
    </div>
  </div>
</div>
