<div class="row">
  <div class="col-md-9">
    <div class="restaurant-name">
      <h3><%= restaurant.escape('name') %></h3>
    </div>

    <div class="menu">
    </div>
  </div>

  <div class="col-md-3">
    <div class="checkout">
    </div>
  </div>
</div>
