<li class="num-orders">Items: <%= item.escape('numOrders') %></li>
<li class="order-title">Name: <%= item.escape('name') %></li>
<li class="item-total">Price: $<%= parseInt(item.escape('price')).toFixed(2) %></li>
