<div class="row">
  <div class="col-md-8">
    <div class="order-title pull-left"><%= item.escape('name') %></div>
    <div class="num-orders pull-right"><%= item.escape('numOrders') %>x</div>
  </div>
  <div class="col-md-4">
    <div class="item-total">$<%= parseInt(item.escape('price')).toFixed(2) %></div>
  </div>
</div>
