#fmn-navbar .navbar {
  margin-bottom: 0;
}

#main {
  margin-top: 52px;
}

.thumbnail {
  float: left;
}

.thumbnail img {
  width: 150px;
  height: 100px;
  background: blue;
  margin-right: 10px;
}

.restaurant-data {
  float: left;
}

.restaurant-title h2 {
  margin: 0 0 6px 0;
}

.restaurants li {
  list-style-type: none;
  height: 100px;
  padding: 10px 0;
  border-bottom: 1px solid black;
  float: left;
}

/*
.restaurants li:last-child {
  border: none;
}
*/

.restaurant-filter {
  width: 300px;
  height: 600px;
  float: left;
  background: ivory;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 10px 0 0;
  padding: 10px;
}

.restaurant-filter li {
  list-style-type: none;
}

.restaurant-filter h3 {
  margin: 5px 0;
}

.menu {
  float: left;
}

.menu-categories {
  padding-left: 0;
}

.menu-category {
  clear: both;
}

.menu-item {
  float: left;
  margin: 0 10px 20px 0;
}

.menu-item:hover {
  background: green;
}

.menu-item img {
  width: 200px;
  height: 100px;
  background: blue;
}

.menu-item li {
  list-style: none;
}

.order-items {
  margin-top: 25px;
  padding-bottom: 26px;
  border-bottom: 1px dotted grey;
}

.order-item {
  margin-top: 21px;
  padding: 0;
}

.order-item:hover {
  background: red;
}

.order {
  padding: 0 30px 10px;
}

.order {
  width: 400px;
}

.order .header {
  margin: 25px 0 26px 0;
}

.order li {
  list-style: none;
}

.order ul {
  padding: 0;
}

.checkout-info {
  margin-top: 18px;
}

