#fmn-navbar .navbar {
  margin-bottom: 0;
}

#main {
  margin-top: 60px;
}

#item-special-instructions {
  resize: vertical;
}

.restaurant-index-header {
  min-height: 250px;
  background-image: url('san_francisco.jpg');
  background-size: cover;
}

.restaurant-index-header h1 {
  margin-bottom: 0.2em;
}
.restaurant-index-header h2 {
  margin-top: 0;
}

.restaurant-index-header strong {
  color: white;
  letter-spacing: -0.1em;
}

.restaurant-details-secondary {
  text-align: right;
}

.thumbnail {
  float: left;
  width: 150px;
  height: 100px;
  margin-bottom: 0;
}

.restaurant-name img {
  height: 200px;
}

.restaurant-item {
  padding-top: 20px;
}

.restaurant-title h2 {
  margin: 0 0 6px 0;
}

.restaurants li {
  list-style-type: none;
  border-bottom: 1px solid black;
}

.restaurant-filter li {
  list-style-type: none;
}

.restaurant-filter h3 {
  margin: 5px 0;
}

.menu {
  float: left;
}

.menu-categories {
  padding-left: 0;
}

.menu-category {
  clear: both;
}

.menu-item {
  float: left;
  margin: 0 20px 20px 0;
}

.menu-item:hover {
  background: lightblue;
}

.menu-item img {
  width: 240px;
  height: 160px;
}

.menu-item li {
  list-style: none;
}

.order-items {
  margin-top: 25px;
  padding-bottom: 26px;
  border-bottom: 1px dotted grey;
}

.order-item {
  margin-top: 21px;
  padding: 0;
}

.order-item:hover {
  background: red;
}

.order {
  padding: 0 30px 10px;
}

.order {
  width: 400px;
}

.order .header {
  margin: 25px 0 26px 0;
}

.order li {
  list-style: none;
}

.order ul {
  padding: 0;
}

.checkout-info {
}

.checkout-actions {
  margin-top: 30px;
  border-top: 1px solid black;
  padding-top: 27px;
}

.checkout-summary {
  padding: 20px 0;
}

.checkout-total {
  border-top: 1px solid black;
}

.saved-checkout-info {
  border: 1px solid black;
  border-radius: 5px;
}

.checkout-option {
  border-bottom: 1px solid black;
  padding: 10px;
}

.checkout-option:last-child {
  border-bottom: 0;
}

.checkout-option-label p {
  margin-bottom: 0;
}

.item-details .modal-header {
  padding: 0 0 15px 0;
}

.item-details .modal-title {
  margin: 15px 15px 0 15px;
}

.item-details .modal-description {
  margin: 0 15px 0 15px;
}

.modal-header .alert {
  margin: 0;
}
