#fmn-navbar .navbar {
  margin-bottom: 0;
}

#main {
  margin-top: 50px;
}

#item-special-instructions {
  resize: vertical;
}

.restaurant-index-header {
  min-height: 550px;
  background-image: url('san_francisco.jpg');
  background-size: cover;
}

.thumbnail {
  float: left;
  width: 150px;
  height: 100px;
  margin-bottom: 0;
}

.restaurant-item {
  padding-top: 20px;
}

.restaurant-title h2 {
  margin: 0 0 6px 0;
}

.restaurants li {
  list-style-type: none;
  border-bottom: 1px solid black;
}

.restaurant-filter {
  background: ivory;
  border: 1px solid black;
  border-radius: 5px;
}

.restaurant-filter li {
  list-style-type: none;
}

.restaurant-filter h3 {
  margin: 5px 0;
}

.menu {
  float: left;
}

.menu-categories {
  padding-left: 0;
}

.menu-category {
  clear: both;
}

.menu-item {
  float: left;
  margin: 0 20px 20px 0;
}

.menu-item:hover {
  background: lightblue;
}

.menu-item img {
  width: 240px;
  height: 160px;
}

.menu-item li {
  list-style: none;
}

.order-items {
  margin-top: 25px;
  padding-bottom: 26px;
  border-bottom: 1px dotted grey;
}

.order-item {
  margin-top: 21px;
  padding: 0;
}

.order-item:hover {
  background: red;
}

.order {
  padding: 0 30px 10px;
}

.order {
  width: 400px;
}

.order .header {
  margin: 25px 0 26px 0;
}

.order li {
  list-style: none;
}

.order ul {
  padding: 0;
}

.checkout-info {
  margin-top: 18px;
}

.checkout-actions {
  margin-top: 30px;
  border-top: 1px solid black;
  padding-top: 27px;
}


