<nav class="navbar">
  <div class="navbar-header">
    <img src="assets/food_me_now.gif"></img>
  </div>
  <ul class="nav navbar-nav pull-right">

    <li class="dropdown">
      <div class="btn-group">
        <button type="button" class="btn" data-toggle="modal" data-target="#checkout">
          Checkout
        </button>
        <button type="button" class="cart-button btn btn-primary" data-toggle="dropdown">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          Cart
        </button>
        <ul class="order-cart dropdown-menu dropdown-menu-right">
        </ul>
      </div>
    </li>

    <li>
      <% if (!FoodMeNow.currentUser.isNew()) { %>
        <a class="sign-out" href='#'>Sign out</a>
      <% } else { %>
        <a class="sign-in" href='#'>Sign in</a>
      <% } %>
    </li>
  </ul>
</nav>

