<nav class="navbar">
  <div class="navbar-header">
    <a href="#"><img src="assets/food_me_now.gif"></img></a>
  </div>
  <ul class="nav navbar-nav pull-right">

    <li class="dropdown">
      <div class="btn-group">
        <% if (!FoodMeNow.currentOrder.isEmpty()) { %>
          <button type="button" class="checkout-button btn">
            Checkout
          </button>
        <% } %>
        <button type="button" class="cart-button btn btn-primary" data-toggle="dropdown">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          Cart
        </button>
        <ul class="order-cart dropdown-menu dropdown-menu-right">
        </ul>
      </div>
    </li>

    <% if (!FoodMeNow.currentUser.isNew()) { %>
      <li><a class="my-orders" href='#'>My Orders</a></li>
      <li><a class="sign-out" href='#'>Sign Out</a></li>
    <% } else { %>
      <li><a class="sign-in" href='#'>Sign In</a></li>
      <li><a class="sign-up" href='#'>Create Account</a> </li>
    <% } %>
  </ul>
</nav>

