<nav class="navbar">
  <div class="navbar-header">
    <a class="navbar-brand" href='#'>FoodMeNow</a> 
  </div>
  <ul class="nav navbar-nav pull-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href='#'>
        <span class="glyphicon glyphicon-shopping-cart"></span>
        Cart
      </a>
      <ul class="dropdown-menu user-order">
      </ul>
    </li>
    <li>
      <% if (FoodMeNow.currentUser) { %>
        <a href='#'>Sign out</a>
      <% } else { %>
        <a href='#'>Sign in</a>
      <% } %>
    </li>
  </ul>
</nav>

